<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.precision.rbac.dict.mapper.DictTypeMapper">

    <resultMap id="DictTypeResultMap" type="com.precision.rbac.dict.entity.DictType">
        <id property="id" column="id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="dictName" column="dict_name"/>
        <result property="dictType" column="dict_type"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <sql id="queryCondition">
        WHERE t.tenant_id = #{tenantId} AND t.deleted = 0
        <if test="query.dictName != null and query.dictName != ''">
            AND t.dict_name LIKE CONCAT('%', #{query.dictName}, '%')
        </if>
        <if test="query.dictType != null and query.dictType != ''">
            AND t.dict_type = #{query.dictType}
        </if>
        <if test="query.status != null">
            AND t.status = #{query.status}
        </if>
    </sql>

    <select id="selectList" resultType="com.precision.rbac.dict.vo.DictTypeListVO">
        SELECT t.id, t.dict_name AS dictName, t.dict_type AS dictType, t.status, t.remark, t.create_time AS createTime,
            (SELECT COUNT(*) FROM sys_dict_data d WHERE d.dict_type = t.dict_type AND d.tenant_id = t.tenant_id AND d.deleted = 0) AS dataCount
        FROM sys_dict_type t
        <include refid="queryCondition"/>
        ORDER BY t.create_time DESC
        LIMIT #{query.pageSize} OFFSET #{query.offset}
    </select>

    <select id="selectCount" resultType="long">
        SELECT COUNT(*) FROM sys_dict_type t
        <include refid="queryCondition"/>
    </select>


</mapper>
